* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

body img{
    max-width: 100%;
}



:root {
    --db-primary: #b4d0e7;
    --db-dark_design: #b4d0e7;
    --db-blu_design: #0d2481;
    --db-azure_design: #0093ce;
    --db-yellow_design: #ffd830;
    --db-light: #ffffff;
    --db-black: #000000;
    --db-dark_red: #d5001f;
}

/* #REGION HEADER */

#site-header {}

.jumbotrone {
    background-color: var(--db-primary);
    text-align: center;
}

.menu {
    justify-content: space-between;
    padding: 1rem;
    font-size: smaller;
}


.right_menu {
    display: flex;
    justify-content: start;
    padding: 1rem;
    gap: 1rem;
}


.left_menu {
    display: flex;
    justify-content: end;
    padding: 1rem;
    gap: 1rem;
}

.col-text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.col-text>.interact {
    margin: 2rem 0;
    font-size: smaller;
}

.col-img {
    width: 60%;
    margin-bottom: -3rem
}

.jumbo-img {
    width: 100%;
}

.col-text>article {
    text-align: start;
}


.row .col-4 {
    width: calc((100% / 12) * 3);
    padding: 1rem;
    border: 0.5px solid black;
}

.row .col-xl {
    width: 100%;
    border: 0.5px solid black;
}

.interact {
    padding: 0.25rem;
    border: none;
    background-color: #0061ff;
    color: white;

}

.right_menu>span {
    padding: 0.25rem;
}

.left_menu>span {
    padding: 0.25rem;
}

.title-jumb {
    font-size: 54px;
}

/* #ENDREGION HEADER */

/* #REGION MAIN */

#site-main {
    margin-top: 110px;
}

.container-small .select {
    display: inline-block;
    margin-bottom: 2rem;
}

.partners {
    margin-top: 8rem;
}



.row .col-left {
    width: 60%;

}

.row .col-right {
    width: 40%;

}

.operation {
    margin-top: 8rem;
}


.card-header {
    text-align: center;
    border-bottom: 0.5px solid black;
}

.card-body {
    flex-direction: column;
    padding: 0.25rem;
    font-size: 12px;
}

.card-body>h3 {
    margin-bottom: 1rem;
}

.card-body span {
    margin-bottom: 0.5rem;
}

.card-body>ul {
    margin-top: 2rem;
    list-style: none;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    text-align: center;
    background-color: var(--db-blu_design);
    color: var(--db-light);
    padding: 0.5rem;
    font-size: x-small;
}

.card-body hr {
    width: 50px;
}

.col-12 .col-12-head {
    text-align: center;
}

.col-12-body .col-12-left {
    padding: 1rem;
    width: 70%;
}

.col-12-body .col-12-right {
    padding: 1rem;
    width: 30%;
}

.img-partner {
    max-width: 100%;
}

.btn-white {
    padding: 0.25rem;
    margin-top: 2rem;
    border: 1px solid;
    text-align: center;
}

.col-4 > img{
    max-width: 100%;
}

.img-central{
    max-width: 30%;
}

.row-central hr{
    width: 80px;
}

.trial{
    background-color: var(--db-primary)
}



/* #ENDREGION MAIN */


/* #REGION FOOTER */

#site-footer {
    background-color: var(--db-black);
}

.footer-top {
    padding: 3rem;
    gap: 1rem;
    color: var(--db-light);
}

.footer-bottom {
    width: 100%;
    background-color: var(--db-black);
    color: var(--db-light);
}

.footer-top .col-5 {
    width: calc(100% / 12 * 5);
}

.footer-top ul{
    list-style: none;
}

.footer-top h3{
    margin-bottom: 1rem;
}

.col-5 li{
    margin-bottom: 0.5rem;
}

/* #ENDREGION FOOTER */


/* #REGION UTILITIES */
.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.container {
    width: 70%;
    margin: auto;
}

.container-small {
    width: 60%;
    margin: auto;
}

.container-large {
    width: 100%;
    margin: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row {

    gap: 2rem;
}

.p-2 {
    padding: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-8 {
    margin-top: 8rem;
}

.col-4 {
    width: calc((100% / 12) * 3);
    padding: 1rem;
    border: 0.5px solid black;
}

.col-12 {
    width: 100%;
    border: 0.5px solid black;
}

.btn {
    text-align: center;
    background-color: var(--db-blu_design);
    color: var(--db-light);
    padding: 0.5rem;
    font-size: x-small;
}

.row-left{
    max-width: 30%;
}

.row-central{
    max-width: 40%;
    margin: auto;
    flex-grow: 2;
}

.row-right{
    max-width: 30%;
    flex-grow: 1;
}

.col-sm{
    width: calc(100% /  2);
}

.col-sm > img{
    max-width: 50%;
}

.bg-w{
    background-color: white;
    color:black ;
}

.p-1{
    padding: 1rem;
}

.w-40{
    width: 40%;
}







/* #ENDREGION UTILITIES */

/* #REGION DEBUG */
.debug .right_menu {
    height: 30px;
    width: 100%;
    background-color: #ffd830;
}

.debug .left_menu {
    height: 30px;
    width: 100%;
    background-color: royalblue;
}

.debug .jumbotrone {

    width: 100%;
}

.debug .team {
    height: 300px;

}

.debug .col-xl {
    height: 200px;
    background-color: #ffd830;
}

.debug .col-left {
    width: calc(100% / 3);
    height: 400px;
    background-color: #0061ff;
}

.debug .col-central {
    width: calc(100% / 3);
    height: 400px;
    background-color: var(--db-dark_red);
}

.debug .col-right {
    width: calc(100% / 3);
    height: 400px;
    background-color: yellowgreen;
}

.debug .content {
    height: 400px;
    background-color: #0d2481;
}

.debug #site-footer {
    height: 300px;

}

.debug .footer-bottom {
    height: 100px;

}

.debug .col-5 {
    background-color: aquamarine;
    height: 200px;

}

/* #ENDREGION DEBUG */