body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --db-primary: #b4d0e7;
    --db-dark_design: #b4d0e7;
    --db-blu_design: #0d2481;
    --db-azure_design: #0093ce;
    --db-yellow_design: #ffd830;
    --db-light: #ffffff;
    --db-black: #000000;
    --db-dark_red: #d5001f;
}

/* #region header */

#site-header {}

.jumbotrone {
    background-color: var(--db-primary);
    text-align: center;
}

.menu {
    justify-content: space-between;
    padding: 1rem;
    font-size: smaller;
}

/* .title-jumb{
    padding: 2rem;
} */

.right_menu {
    display: flex;
    justify-content: start;
    padding: 1rem;
    gap: 1rem;
}


.left_menu {
    display: flex;
    justify-content: end;
    padding: 1rem;
    gap: 1rem;
}

.col-text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.col-text>.interact {
    margin: 2rem 0;
    font-size: smaller;
}

.col-img {
    width: 60%;
    margin-bottom: -3rem
}

.jumbo-img {
    width: 100%;
}

.col-text>article {
    text-align: start;
}


.row .col-4 {
    width: calc((100% / 12) * 3);
    padding: 1rem;
    border: 0.5px solid black;
}

.row .col-xl {
    width: 100%;
    border: 0.5px solid black;
}

.interact {
    padding: 0.25rem;
    border: none;
    background-color: #0061ff;
    color: white;

}

.right_menu>span {
    padding: 0.25rem;
}

.left_menu>span {
    padding: 0.25rem;
}

.title-jumb {
    font-size: 54px;
}

/* #endregion header */

/* #region main */

#site-main {
    margin-top: 110px;
}

.container-small .select {
    display: inline-block;
    margin-bottom: 2rem;
}

.partners {
    margin-top: 8rem;
}



.row .col-left {
    width: 70%;

}

.row .col-right {
    width: 30%;

}

.operation {
    margin-top: 8rem;
}



/* #endregion main */

/* #region utility */
.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.container {
    width: 70%;
    margin: auto;
}

.container-small {
    width: 60%;
    margin: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row {

    gap: 2rem;
}

.p-2 {
    padding: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* endregion utility */

/* region debug */
.debug .right_menu {
    height: 30px;
    width: 100%;
    background-color: #ffd830;
}

.debug .left_menu {
    height: 30px;
    width: 100%;
    background-color: royalblue;
}

.debug .jumbotrone {

    width: 100%;
}



/* endregion debug */